[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]
"pep8" = "==1.7.1"


[packages]
pyrebase = "==3.0.27"
pygithub = "==1.35"
click = "==6.7"


[requires]
python_version = "3.6"
